
@{
    ViewData["Title"] = "JobNewStep1";
    Layout = "~/Views/Shared/_LayoutSidebarCompany.cshtml";
}

<div style="margin-left: 1px;" class="row justify-content-between">

    <h2 class="col-6">刊登新職缺</h2>
    <span class="remark col-6 text-end"><em>＊</em>為必填項目</span>
</div>

<ol class="stepsBox">
    <li class="is-doing col-12 col-lg-3">1.填寫工作內容與職缺資訊</li>
    <li class=" col-12 col-lg-3">2.填寫職缺條件</li>
    <li class=" col-12 col-lg-3">3.填寫應徵與面試</li>
    <li class=" col-12 col-lg-3">4.觀看預覽</li>
</ol>

<div class="col-lg-12">
    <div class="job-content">

        <div class="card card-no-radius mb-3">
            <div class="card-header card-title-p">
                <div class="fw-bold d-flex justify-content-between align-items-center">
                    <span>工作內容與職缺資訊</span>
                </div>
            </div>
            <div class="card-body text-secondary">

                <table class="table table-striped table-rwd ">

                    <tbody>
                        <tr>
                            <td>
                                <span class="text-danger p-1">*</span>
                                職缺名稱：
                            </td>
                            <td>
                                <div class="pb-1 opening-list">
                                    <input type="text" class="mb-1 w-100" id="JobTitle">
                                </div>
                                <p class="mark-text-red">
                                    依就業服務法規定，雇主不得於予就業歧視，例:女服務人員、倉管人員(限男性)。
                                    <span><a href="#" class="mark-text-blue">就業服務法</a></span>
                                </p>
                            </td>
                        </tr>


                        <tr>
                            <td><span class="text-danger p-1">*</span>工作內容：</td>
                            <td>
                                <div class="mb-3">
                                    <label for="JobDescription" class="form-label"><a href="#">[使用範本]</a></label>
                                    <textarea class="form-control" id="JobDescription" rows="3"></textarea>
                                </div>
                            </td>
                        </tr>


                        <tr class="opening-category">
                            <td><span class="mark-text-red p-1">*</span>薪資待遇：</td>
                            <td id="SalaryPayment">
                                <div class="form-check text-start">
                                    <input class="form-check-input" type="radio" name="SalaryPayment" id="SalaryPayment1">
                                    <label class="form-check-label" for="SalaryPayment1">
                                        月薪
                                        <input type="text">
                                    </label>
                                </div>
                                <div class="form-check text-start">
                                    <input class="form-check-input" type="radio" name="SalaryPayment" id="SalaryPayment2">
                                    <label class="form-check-label" for="SalaryPayment2">
                                        時薪
                                        <input type="text">
                                    </label>
                                </div>
                                <div class="form-check text-start">
                                    <input class="form-check-input" type="radio" name="SalaryPayment" id="SalaryPayment3">
                                    <label class="form-check-label" for="SalaryPayment3">
                                        面議
                                    </label>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td><span class="mark-text-red p-1">*</span>上班地點：</td>
                            <td id="AddressPart">

                                <select id="CityID" class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>縣市</option>
                                    <option value="1">基隆市</option>
                                    <option value="2">台北市</option>
                                    <option value="3">新北市</option>
                                    <option value="4">桃園縣</option>
                                    <option value="5">新竹市</option>
                                    <option value="6">新竹縣</option>
                                    <option value="7">苗栗縣</option>
                                    <option value="8">台中市</option>
                                    <option value="9">彰化縣</option>
                                    <option value="10">南投縣</option>
                                    <option value="11">雲林縣</option>
                                    <option value="12">嘉義市</option>
                                    <option value="13">嘉義縣</option>
                                    <option value="14">台南市</option>
                                    <option value="15">高雄市</option>
                                    <option value="16">屏東縣</option>
                                    <option value="17">台東縣</option>
                                    <option value="18">花蓮縣</option>
                                    <option value="19">宜蘭縣</option>
                                    <option value="20">澎湖縣</option>
                                    <option value="21">金門縣</option>
                                    <option value="22">連江縣</option>
                                </select>
                                <select id="DistrictID" class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>行政區</option>
                                    <option value="1">松山區</option>
                                    <option value="2">信義區</option>
                                    <option value="3">大安區</option>
                                    <option value="4">JS生成...</option>
                                </select>
                                <input type="text" id="Address" class="w-100 ">
                            </td>
                        </tr>


                        <tr>
                            <td><span class="mark-text-red p-1">*</span>上班時段：</td>
                            <td>
                                <div id="WorkingHours" class="form-row d-flex justify-content-between">
                                    <input type="time" name="usr_time">
                                    至
                                    <input type="time" name="usr_time">
                                </div>

                            </td>

                        </tr>

                        <tr>
                            <td><span class="mark-text-red p-1">*</span>職務類別：</td>
                            <td>
                                <div id="job-category" class="job-category-btn text-center my-3" data-bs-toggle="modal" data-bs-target="#job-category-md">
                                    按下後勾選 職務類別
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>



            </div>
            <div class="back-next row mb-4">
                <a class="col-6 btn" href="~/Company/JobList">取消</a>
                <a class="next col-6 btn" href="~/Company/JobNewStep2">下一步</a>
            </div>
        </div><!-- card end -->

    </div><!-- job-content end -->

</div>

@section topModal{
    <!-- Modal-job-category -->
    <div class="modal-category modal fade" id="job-category-md" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">職務類別</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 職業分類 選單 -->
                    <!-- <ul class="list-group-category list-group ">
                        <li class="list-group-item">
                            <label class="form-check-label" for="firstRadio-category">
                                <div class="title">
                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio"
                                        value="" id="firstRadio-category" >
                                    餐飲服務相關
                                </div>
                                <div class="right_wrap">
                                    <span class="choose-num" style="display: none;">0</span>
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-check-label" for="secondRadio-category">
                                <div class="title">
                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="secondRadio-category">
                                    門市店面、零售百貨
                                </div>
                                <div class="right_wrap">
                                    <span class="choose-num" style="display: none;">0</span>
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-check-label" for="thirdRadio-category">
                                <div class="title">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="thirdRadio-category">
                                    旅遊飯店、休閒娛樂
                                </div>
                                <div class="right_wrap">
                                    <span class="choose-num" style="display: none;">0</span>
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-check-label" for="fourthRadio-category">
                                <div class="title">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="fourthRadio-category">
                                    美容美髮、美體相關
                                </div>
                                <div class="right_wrap">
                                    <span class="choose-num" style="display: none;">0</span>
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-check-label" for="fifthRadio-category">
                                <div class="title">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="fifthRadio-category">
                                    人資人事、經營管理
                                </div>
                                <div class="right_wrap">
                                    <span class="choose-num" style="display: none;">0</span>
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-check-label" for="sixthRadio-category">
                                <div class="title">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="sixthRadio-category">
                                    業務銷售、客戶服務
                                </div>
                                <div class="right_wrap">
                                    <span class="choose-num" style="display: none;">0</span>
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-check-label" for="seventhRadio-category">
                                <div class="title">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="seventhRadio-category">
                                    物流快遞、採購倉管
                                </div>
                                <div class="right_wrap">
                                    <span class="choose-num" style="display: none;">0</span>
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-check-label" for="eighthRadio-category">
                                <div class="title">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="eighthRadio-category">
                                    運輸相關、貿易稅務
                                </div>
                                <div class="right_wrap">
                                    <span class="choose-num" style="display: none;">0</span>
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-check-label" for="ninthRadio-category">
                                <div class="title">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                    id="ninthRadio-category">
                                    軍警消防、保全相關
                                </div>
                                <div class="right_wrap">
                                    <span class="choose-num" style="display: none;">0</span>
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </label>
                        </li>
                    </ul>  -->
                    <!-- 職業細項 選單 -->
                    <ul class="list-group-job list-group">
                        <!-- 返回分類按鈕 -->
                        <li class="item-category list-group-item">
                            <label class="form-check-label" for="firstRadio">
                                <div class="right_wrap">
                                    <span class="material-symbols-outlined">chevron_left</span>
                                </div>
                                <div class="title">
                                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                           id="firstRadio">
                                    餐飲服務相關
                                </div>
                            </label>
                        </li>
                        <!-- 全選這職位 -->
                        <li class="group-all-job list-group-item">
                            <label class="all-checkbox form-check-label" for="AllJobCheckbox-gp1">
                                <!-- <input class="form-check-input me-1" type="checkbox" value="" id="AllJobCheckbox-gp1"> -->
                                廚師/助理
                            </label>
                            <label class="more-checkbox form-check-label" for="MoreJobCheckbox-gp1">
                                <span class="material-symbols-outlined">expand_more</span>
                            </label>

                            <input class="form-check-input me-1" type="checkbox" value="" id="MoreJobCheckbox-gp1">

                            <!-- 細項 選單 -->
                            <ul class="job-checkbox-group list-group">
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="firstCheckbox-gp1-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="firstCheckbox-gp1-job">
                                        中式廚師
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="secondCheckbox-gp1-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="secondCheckbox-gp1-job">
                                        西式廚師
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="thirdCheckbox-gp1-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="thirdCheckbox-gp1-job">
                                        日式廚師
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="fourthCheckbox-gp1-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="fourthCheckbox-gp1-job">
                                        西點/蛋糕師
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="fifthCheckbox-gp1-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="fifthCheckbox-gp1-job">
                                        麵包師
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="sixthCheckbox-gp1-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="sixthCheckbox-gp1-job">
                                        餐廚助手
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="seventhCheckbox-gp1-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="seventhCheckbox-gp1-job">
                                        其他料理廚師
                                    </label>
                                </li>
                            </ul>

                        </li>

                        <!-- 全選這職位 -->
                        <li class="group-all-job list-group-item">
                            <label class="all-checkbox form-check-label" for="AllJobCheckbox-gp2">
                                <!-- <input class="form-check-input me-1" type="checkbox" value="" id="AllJobCheckbox-gp2"> -->
                                內外場服務
                            </label>
                            <label class="more-checkbox form-check-label" for="MoreJobCheckbox-gp2">
                                <span class="material-symbols-outlined">expand_more</span>
                            </label>

                            <input class="form-check-input me-1" type="checkbox" value="" id="MoreJobCheckbox-gp2">

                            <!-- 細項 選單 -->
                            <ul class="job-checkbox-group list-group">
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="firstCheckbox-gp2-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="firstCheckbox-gp2-job">
                                        餐飲服務人員
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="secondCheckbox-gp2-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="secondCheckbox-gp2-job">
                                        飲品調製販售員
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="thirdCheckbox-gp2-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="thirdCheckbox-gp2-job">
                                        調酒師／吧檯人員
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="fourthCheckbox-gp2-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="fourthCheckbox-gp2-job">
                                        洗碗人員
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="fifthCheckbox-gp2-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="fifthCheckbox-gp2-job">
                                        餐飲主管
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-check-label stretched-link" for="sixthCheckbox-gp2-job">
                                        <input class="form-check-input me-1" type="checkbox" value=""
                                               id="sixthCheckbox-gp2-job">
                                        餐飲主管
                                    </label>
                                </li>
                            </ul>

                        </li>



                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row w-100">
                        <button type="button" class="btn btn-clear">清除</button>
                        <button type="button" class="btn btn-submit" >確認送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section breadcrumb{
    <div class="hi row mt-3 ps-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./myAccount.html" class="text-decoration-none">企業帳戶首頁</a></li>
                <li class="breadcrumb-item" aria-current="page">企業帳戶</li>
                <li class="breadcrumb-item" aria-current="page">職缺刊登管理</li>
                <li class="breadcrumb-item" aria-current="page">刊登新職缺</li>
            </ol>
        </nav>
    </div>
}

@section topCSS{
    <link href="~/css/jobnew/stylesheet.css" rel="stylesheet" />
}


