@{
    ViewData["Title"] = "JobNewStep4";
    Layout = "~/Views/Shared/_LayoutSidebarCompany.cshtml";
}

<h2 class="col-6">刊登新職缺</h2>
<ol class="stepsBox">
    <li class="is-complete col-12 col-lg-3">1.填寫工作內容與職缺資訊</li>
    <li class="is-complete col-12 col-lg-3">2.填寫職缺條件</li>
    <li class="is-complete col-12 col-lg-3">3.填寫應徵與面試</li>
    <li class="is-doing col-12 col-lg-3">4.觀看預覽</li>
</ol>

 <div class="col-lg-12">
            <div class="job-content">

              <div class="card card-no-radius mb-3">
                <div class="card-header card-title-p">
                  <div class="fw-bold d-flex justify-content-between align-items-center">
                    <span>觀看預覽</span>
                  </div>
                </div>
                <div class="card-body text-secondary">

                  <div class="job-description">

                    <div class="job-description-details">
                      <h2 class="jd-details-title">工作內容
                      </h2>
                      <p>工作內容：四輪推車卸貨並將貨品依項目分類擺放、需搬運、疊放 。<br>
                        <br>
                        -工作時間：<br>
                        A)16:00-20:30<br>
                        B)17:00-20:30<br>
                        -休假制度：週休二日<br>
                        -工作薪資：時薪185元隔日21點前匯款，假日順延<br>
                        <br>
                        ▬▬▬◢┃快速報名預約┃◣▬▬▬<br>
                        ☎電話專線➠小嵐專員0963820333或電話➕LINE ID:0963820333。<br>
                      </p>

                    </div>

                    <div class="job-info">
                      <h2>職缺資訊</h2>

                      <div class="job-items">
                        <ul>
                          <li>薪資待遇<span>時薪 185 元</span=>
                          </li>
                          <li>支薪方式<span>匯款</span></li>
                          <li>發薪資日<span>隔日晚間九點入帳，假日順延假日順延假日順延假日順延假日順延</span></li>


                          <li class="job-location">上班地點
                            <span>台北市北投區立德路111號
                              <a href=""><i></i>地圖</a>
                            </span>
                            <!-- <a href="">#捷運關渡站走路7分鐘</a>                       -->
                          </li>
                          <div class="job-location-tag">
                            <a href="">#捷運關渡站走路7分鐘</a>
                          </div>


                          <li>上班時段<span>晚班 / 16:00-20:30</span></li>
                          <li>排班制度<span>排班制，每週更新班表</span></li>
                          <li>休假制度<span>週休二日</span></li>
                          <li class="job-category">職務類別<span>
                              <a href="" target="_blank">倉儲物流人員</a>、
                              <a href="" target="_blank">工讀生</a>、
                              <a href="" target="_blank">售票／收銀人員</a>、
                              <a href="" target="_blank">售票／收銀人員</a>
                            </span></li>
                        </ul>
                      </div>

                    </div>
                    <div class="job-conditions">
                      <h2>職缺條件</h2>
                      <div class="job-items">
                        <ul>
                          <li>工作性質<span>兼職</span>
                            <a href="https://www.tasker.com.tw/case/list?a_id=2244">兼差接案</a>
                          </li>
                          <li>是否出差<span>不需出差/外派</span></li>
                          <li>管理責任<span>不需負擔管理責任</span></li>
                          <li>可上班日<span>即時</span></li>
                          <li>工作經驗<span>不拘</span></li>
                          <li>學歷要求<span>國中、高中職、專科、大學、碩士、博士、專科、大學、碩士、博士</span></li>
                          <li>語文條件<span>不拘</span></li>
                          <li>擅長工具<span>不拘</span></li>
                          <li>工作技能<span>不拘</span></li>
                          <li>需求人數<span>不拘</span></li>
                          <li class="job-features">職缺特色<span>
                              <a class="btn btn-outline-primary" href="#" role="button">免經驗可</a>
                              <a class="btn btn-outline-primary" href="#" role="button">高年終</a>
                              <a class="btn btn-outline-primary" href="#" role="button">交通津貼</a> <a
                                class="btn btn-outline-primary" href="#" role="button">免經驗可</a>
                              <a class="btn btn-outline-primary" href="#" role="button">高年終</a>
                              <a class="btn btn-outline-primary" href="#" role="button">交通津貼</a> <a
                                class="btn btn-outline-primary" href="#" role="button">免經驗可</a>
                              <a class="btn btn-outline-primary" href="#" role="button">高年終</a>
                              <a class="btn btn-outline-primary" href="#" role="button">交通津貼</a> <a
                                class="btn btn-outline-primary" href="#" role="button">免經驗可</a>
                              <a class="btn btn-outline-primary" href="#" role="button">高年終</a>
                              <a class="btn btn-outline-primary" href="#" role="button">交通津貼</a>
                            </span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="apply-and-interview">
                      <h2>應徵與面試</h2>
                      <div class="job-items">
                        <ul>
                          <li>職務聯絡人<span>李小姐</span></li>
                          <li>聯絡 Email<span>意者請將履歷自傳透過518熊班應徵，合適者會另行通知面試</span></li>
                          <li>電　　　洽<span>02-22436060</span></li>
                          <li class="job-location">親　　　洽<span>中和區中正路76號</span>
                            <a href=""><i></i>地圖</a>
                          </li>
                          <li>聯絡 Email<span>意者請將履歷自傳透過518熊班應徵，合適者會另行通知面試</span></li>
                          <li>備　　　註
                            <span> 歡迎直接早上11:00後來電預約面試！
                              <br>☎️ （02）-22436060
                              <br>手機： 0966767000</span>

                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>

                </div>
                
                <div class="back-next row mb-4">
                <a class="col-6 btn" href="~/Company/JobNewStep3">上一步</a>
                <a class="next col-6 btn" href="~/Company/JobList">確認新增</a>
            </div>
              </div><!-- card end -->


            </div><!-- job-content end -->

          </div>
@section breadcrumb{
    <div class="hi row mt-3 ps-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./myAccount.html" class="text-decoration-none">企業帳戶首頁</a></li>
                <li class="breadcrumb-item" aria-current="page">企業帳戶</li>
                <li class="breadcrumb-item" aria-current="page">職缺刊登管理</li>
                <li class="breadcrumb-item" aria-current="page">刊登新職缺</li>
            </ol>
        </nav>
    </div>
}

@section topCSS{
    <link href="~/css/jobnew/stylesheet.css" rel="stylesheet" />
}


