
@{
    ViewData["Title"] = "CandidateRegisterInfo";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="form_information">
                <h1 class="title text-center">立即成為HaBan會員</h1>
                <form class="form-list">
                    <div class="account">
                        <h3 class="text mb-0">帳號(身分證帳號)</h3>
                        <input type="text" class="accountnum w-100" placeholder="請輸入身分證帳號">
                    </div>
                    <div class="password">
                        <h3 class="text mb-0">密碼</h3>
                        <div class="input-password">
                            <input type="password" class="passwordnum w-100" placeholder="密碼需由6-20個英文字母或數字組成">
                            <!-- TODO 密碼顯示 -->
                            <div class="icon-box">
                                <a href="#" class="is-password-icon show-password" id="show-password"></a>
                                <a href="#" class="is-password-icon close-password" id="close-password"
                                   style="display: none;"></a>
                            </div>
                        </div>
                    </div>
                    <div class="gender">
                        <h3 class="text mb-0">性別</h3>
                        <div class="gender-list">
                            <label for="gender1">
                                <input type="radio" id="gender1" name="gender" value="1"><span>男</span>
                            </label>
                            <label for="gender2">
                                <input type="radio" id="gender2" name="gender" value="2"><span>女</span>
                            </label>
                            <label for="gender3">
                                <input type="radio" id="gender3" name="gender" value="3"><span>不公開</span>
                            </label>
                        </div>
                    </div>
                    <div class="login">
                        <h3 class="text mb-0">聯絡信箱</h3>
                        <input type="email" class="inputemail w-100" id="" placeholder="例 : example@HaBan.com">
                    </div>
                    <div class="mobile">
                        <h3 class="text mb-0">行動電話</h3>
                        <div class="col-auto">
                            <input type="mobile" class="mobilenum w-100" id="" placeholder="例 : 0912345678"
                                   maxlength="10">
                            <!-- </div>
                            <div class="col-auto">
                                <button type="submit" class="sendverifyCode">發送驗證碼</button>
                            </div> -->
                        </div>
                        <div name="agree">
                            <label for="agreeCheckbox" class="checkbox">
                                <input type="checkbox" value="true" id="agree" name="agree">
                                <p>
                                    我已閱讀並同意<a target="_black" href="#">服務條款</a>、
                                    <a target="_black" href="#">隱私權聲明</a>、
                                    <a href="#" target="_blank">免責聲明</a>。
                                </p>
                            </label>
                        </div>
                        <div class="nextstep pb-3 text-center">
                            <button type="submit" class="rounded w-100 disable">快速登入</button>
                         </div> 
                </form>
            </div>
        </div>
</section>

@section topCSS{
    <link href="~/css/candidate/registerinfo/candidateregisterinfo.css" rel="stylesheet" />
}
