@{
    ViewData["Title"] = "BuyPoStep2";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    Layout = "~/Views/Shared/_LayoutSidebarCompany.cshtml";
}


<div id="content" class="col-12 col-md-9 col-lg-12 px-0">

    <div class="d-flex justify-content-between">
        <h2>新鮮美味蛤會員開通</h2>
        <div class="edit">
            <img src="~/images/company/buy/note.png" />
            觀看購買紀錄
        </div>
    </div>

    <ol class="stepsBox">
        <li class="is-complete col-12 col-lg-3">1.選擇付費方案</li>
        <li class="is-doing col-12 col-lg-3">2.了解徵才刊登契約</li>
        <li class=" col-12 col-lg-3">3.確認訂單內容</li>
        <li class=" col-12 col-lg-3">4.完成購買</li>
    </ol>
    <!-- 廣告契約 -->
    <div class="contract">
        <div class="contract-box card">
            <p>親愛的會員您好：</p>
            <p>感謝您使用518人力銀行，請詳閱並遵守以下事項，即可刊登徵才廣告。</p>
            <p>【第一條 服務方式】</p>
            <p>1、甲方於同意本約定書成為518徑才會員後，若有徵才之需要，僅須自行操作並刊登徵才資訊即可，甲方亦可隨時增修求才內容。</p>
            <p>【第二條 服務內容】</p>
            <p>1、本網站之網路徵才刊登服務係指刊登人為徵才之需要於本網站刊登網路徵才資訊或購買其他廣告加值產品等服務，甲方同忘518得因版面調整，定期更換版面設計或優化用戶操作介面之需要，調整刊登廣告頁面中之色彩，版面配置，廣告字體或廣告位置等內容。</p>
            <p>2、刊登期間，518另免費提供人才查詢系統、履歷表自動配對或其他附屬服務，且甲方同意518得依其自主判斷決定限制甲方於人才查詢系統搜尋履歷之數量上限，並得檢視、搜集、處理及利用甲方之搜尋量別及紀錄。</p>
            <p>3、甲方同意 518於甲方刊登期間內，得將甲方之公司簡介、商品服務或徵才訊息等相關圖、文資訊免費於518旗下經營之其他網站刊登、轉載或揭露，並得定期或不定期以電子郵件、手機簡訊或其他方式提供518旗下相關網站各項服務或活動訊息予甲方；甲方另同意於簽署本契約同時授權518於履行本契約服務事項時，得使用或 利用甲方提供之商標及著作。</p>
            <p>4、甲方同意，若甲方經營之商品或服務，於刊登期間與518業務相同或類似（包含但不限於人力資源顧問、人力資源仲介、獵人頭、人力派遣、人力外派或委外供應業務等項目類別），518得限制甲方刊登網路徵才廣告以1000筆為上限。</p>
            <p>5、甲方同意並了解前項服務非本合約之約定服務內容，518有權視情況調整，甲方不得以之主張本合約有未盡履行之情事。</p>
            <p>【第三條 約定遵守事項】</p>
            <p>1、甲方應保證其自行上傳、刊登或轉載的任何logo、形象圖、產品圖片等相關圖文或廣告，並無侵害任何第三人之著作權、商標權等智慧財產權，或違反中華民國法律、公序良俗等情況，且同意供518作為本約服務用途之使用，如違反前開約定，518得有權不經通知逕行將該廣告移除或修正，並立即終止本契約且不予退費，若因而導致518被調查、追訴、索賠、行政罰鍰時，甲方應對518所受之損失負全額賠償責任，並應給付相當刊登費用100倍 或新台幣100萬元，前述二者取其金額較低者為懲罰性違約金。</p>
            <p>2、甲方提出徵才需求須符合個人資料保護法及就業服務法等相關法令。為保護求職者個人資料安全及隱私不受打擾，除事業、團體或個人提 供相當證明經徵得518事前書面同意外，518不接受現行從事或經營以下業務之事業、團體或個人之廣告刋登，包括八大行業、賭博網站、情色行業等，但人力仲介及人力派遣業者另議。</p>
            <p>3、甲方保證其提供徵才刊登之相關資訊內容，絶無廣告、詐欺、虛偽、誇大不實、引人錯誤或違反法令、公序良俗、或藉類似、重複刊登商 品而有廣告之嫌、或其他違反518有關刊登規定等情事，且未有假借他人名義或接受他人請託予以刊登，如違反前開約定，518得有權不經通知逕行將該廣告移除或修正，並立即終止本契約且不予退費，若因而導致518被調查、追訴、索賠、行政罰鍰時，甲方應對518所受之損失負全額賠償責任，並應給付相當刊登費 用100倍或新台幣100萬元，前述二者取其金額較低者為懲罰性違約金。</p>
            <p>4、甲方明瞭518僅提供網路徵才資訊刊登服務，518無法保證甲方於刊登期間內一定尋得需求之人才，亦不保證應徵人才之品質、品格或其所填履歷之完整與真實，甲方仍須依面試程序或其他方法進行人才篩選及過濾。甲方與求職者發生之任何爭議，應由甲方與求職者雙方自行依循正當法律途徑解決，與518無涉。</p>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                我已仔細閱讀並明瞭「<span>網路刊登 徵才廣告服務契約</span>」
            </label>
        </div>
        <p>所載內容及其意義，茲同意該等條款規定，並顧遵守網站現今，嗣後規範的各種規則</p>
        <div class="back-next row">
            <button type="button" class="col-6 btn">上一步</button>
            <button type="button" class="next col-6 btn">下一步</button>
        </div>
    </div>
</div>

@section breadcrumb{
    <div class="hi row mt-3 ps-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./myAccount.html" class="text-decoration-none">企業帳戶首頁</a></li>
                <li class="breadcrumb-item" aria-current="page">企業帳戶</li>
                <li class="breadcrumb-item" aria-current="page">新鮮美味蛤會員開通</li>
            </ol>
        </nav>
    </div>
}

@section topCSS{
    <link href="~/css/company/buy/buy.css" rel="stylesheet" />
}