@using HabanMVC.ViewModels;
@*@model CandidateIndexViewModel*@
@{
    Layout = "~/Views/Shared/_LayoutSidebarCompany.cshtml";
    ViewData["Title"] = "Index";
}

<!-- 內容放這邊 \(0ㄅ0)/ -->

            <div id="topbackground">
                <ul class="a1 list-unstyled">
                    <li class="a1"></li>
                    <li class="a2">
                        <div class="tippy" id="avatarTippy" style="display: none;">
                            <div class="tippy-arrow"></div>
                        </div>

                        <a href="#" data-avatar-update>
                <img src="~/images/company/index/camera.svg" />
                            <span>設定個人照</span>
                        </a>
                        <a href="#">

                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled hi">
                    <li class="fs-4 fw-bold mb-2 record">Build School​ 青杉人才有限公司 </li>
                    <li class="mb-1">
                        公司簡介：<span class="res-name">
                            <a href="#">詳細 </a><a class="preview" href="#"
                                                  style="font-size: 14px;" class="btn text-primary p-0 ps-1">
                    <img style="vertical-align: top;" src="~/images/Company/Index/ic_search.svg" alt="..."> 預覽
                </a>
                        </span>
                    </li>
                    <li class="mb-1">統一編號：<a class="a6-2" href="#">88432145</a></li>
                    <li>
                        收件信箱：<a style="font-size: 12px;" href="#">abcde12345678@gmail.com</a><span class="verify"
                                                                                                   style="color: #2B9DF8; font-size: 12px;padding-left: 5px;">已驗證</span>
                    </li>
                </ul>


            </div>
            <!-- ---- -->
            <div class="my-2"></div>
            <div class="alert-box alert text-center my-2" role="alert">
                溫馨提醒：666蛤班不會透過驗證簡訊要求會員點擊不明連結，若接獲請勿理會。<a href="#">更多說明»</a>
            </div>


            <div class="card card-no-radius ">

                <div class="card-body p-0 m-0 ">
                    <div class="tab-content p-0">


@*                        <table class="table mb-0">
                            <tbody class="">
                                <tr class="row">
                                    <th class="col-6 text-end one bg-transparent">蛤?!你還不是會員 ! </th>
                                    <td class="col-5 text-start bg-transparent"><button type="button" class="btn w-75">立即購買</button></td>
                                </tr>

                            </tbody>
                            <tfoot class="">
                                <tr class="row">
                                    <th class="col-6 text-end two sticker-no bg-transparent pe-4"><img src="../img/StickerTOP.png" alt="">　剩餘: <span class="px-2">0</span>個</th>
                                    <td class="col-5  text-start bg-transparent"><button type="button" class="btn w-75">立即購買</button></td>
                                </tr>
                            </tfoot>
                        </table> *@


                        @*<table class="table mb-0 ">
                            <tbody class="">
                                <tr class="row">
                                    <th class="col-6 text-end one bg-transparent">蛤?!你還不是會員 ! </th>
                                    <td class="col-5 text-start bg-transparent"><button type="button" class="btn w-75">立即購買</button></td>
                                </tr>

                            </tbody>
                            <tfoot class="advertise">
                                <tr class="row">
                        <th class="col-12  bg-transparent pe-4"><img src="~/images/company/index/stickertop.png" alt="">　剩餘: <span class="px-2">3</span>個　　　　　　　　　</th>
                                </tr>
                            </tfoot>
                        </table> *@


                        @*<table class="table mb-0">
                            <tbody class="advertise-pink">
                                <tr class="row">
                                    <th class="col-12 one bg-transparent">新鮮美味蛤大會員 <small class="ps-2">有效日期: <span>2023/8/29</span></small> </th>
                                </tr>
                            </tbody>
                            <tfoot class="sticker-no">
                                <tr class="row">
                        <th class="col-6 text-end two bg-transparent pe-2"><img src="~/images/company/index/stickertop.png" alt="">　剩餘: <span class="px-2">0</span>個</th>
                                    <td class="col-5 text-start bg-transparent pt-3 mt-1"><button type="button" class="btn w-75">立即購買</button></td>
                                </tr>
                            </tfoot>
                        </table> *@


                        <table class="table mb-0 ">
                            <tbody class="advertise-pink">
                                <tr class="row">
                                    <th class="col-12 one bg-transparent">新鮮美味蛤大會員 <small class="ps-2">有效日期: <span>2023/8/29</span></small> </th>
                                </tr>
                            </tbody>
                            <tfoot class="advertise">
                                <tr class="row">
                        <th class="col-12  bg-transparent pe-4"><img src="~/images/company/index/stickertop.png" />　剩餘: <span class="px-2">3</span>個　　　　　　　　　</th>
                                </tr>
                            </tfoot>
                        </table>



                    </div>
                </div>
            </div>



            <div class="row mt-2">


                <div class="col-md-12 col-lg-12">
                    <div class="card card-no-radius mb-3">
                        <div class="card-header card-title-p">
                            <div class="fw-bold d-flex justify-content-between align-items-center">
                                <span>求職者主動應徵紀錄</span>

                                <a href="#" class="pe-3 fw-normal text-primary">更多</a>
                            </div>
                        </div>
                        <div class="card-body text-secondary">


                            <ul class="row list-unstyled mb-0">
                                <li class="col-3 mb-2">求職者履歷</li>
                                <li class="col-3">應徵職務</li>
                                <li class="col-3">讀取狀態</li>
                                <li class="col-3">應徵日期</li>


                                <li class="col-3 record mb-2"><a href="#">求職者履歷1</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                                <li class="col-3 record mb-2"><a href="#">求職者履歷2</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                                <li class="col-3 record mb-2"><a href="#">求職者履歷3</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                                <li class="col-3 record mb-2"><a href="#">求職者履歷4</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                                <li class="col-3 record mb-2"><a href="#">求職者履歷5</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                                <li class="col-3 record mb-2"><a href="#">求職者履歷6</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                                <li class="col-3 record mb-2"><a href="#">求職者履歷7</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                                <li class="col-3 record mb-2"><a href="#">求職者履歷8</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                                <li class="col-3 record mb-2"><a href="#">求職者履歷9</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                                <li class="col-3 record mb-2"><a href="#">求職者履歷10</a></li>
                                <li class="col-3 record mb-2"><a href="#">.net工程師[全台最大辦公用品供應商]</a></li>
                                <li class="col-3 record fw-bold mb-2"><a href="#">未讀取</a></li>
                                <li class="col-3 record mb-2">2023/08/14 09:23</li>

                            </ul>

                        </div>
                    </div>
                </div>





            </div>




@section breadcrumb {
    <div class="hi row m-0">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./myAccount.html" class="text-decoration-none">企業帳戶首頁</a></li>
                <li class="breadcrumb-item" aria-current="page">企業帳戶</li>
            </ol>
        </nav>
    </div>
}

@section topCSS{


    <link href="~/css/Company/Index/Index.css" rel="stylesheet" />

}

@section endJS{

}


